/*
цвет макета - белый #FFFFFF;
цвет (section)- Список команды #F5F4FA
цвет(footer) background: #2F303A;
*/
/* 
основной цвет текста (чёрный)-#757575;
вторичный ( h1,h2,h3....)цвет текста (серый)- #212121;
цвет текста адреса (footer) - rgba(255, 255, 255, 0.6);
*/
/*цвет наведения (акцент) и фона (синий)- #2196F3;*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-grey-color: #f5f4fa;
  --secondary-grey-color: #2f303a;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* header */

.logo {
  color: var(--accent-color);
}

.logo-span:hover,
.logo-span:focus {
  color: var(--accent-color);
}

.logo-span {
  color: #000000;
}

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-address .link {
  color: var(--primary-text-color);
}

.site-address .link:hover,
.site-address .link:focus {
  color: var(--accent-color);
}

/* section */
.section-title {
  color: var(--title-text-color);
}

.section-subtitle {
  color: var(--title-text-color);
}

.section-icon {
  background-color: var(--primary-grey-color);
}
.section-icon:hover,
.section-icon:focus {
  background-color: var(--accent-color);
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.img-lead {
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  background-color: var(--primary-grey-color);
}
.list-team {
  color: var(--title-text-color);
}

.userpic {
  color: #afb1b8;
}
.userpic:hover,
.userpic:focus {
  color: var(--accent-color);
}

/* footer */
.footer {
  background-color: var(--secondary-grey-color);
}
.footer-span {
  color: var(--primary-white-color);
}
